:root {
	--back: #B8CDE0;
	--back-shadow: #9bb0d1;
	--fore: #82A4C3;
	--button: #6B88A1;
	--basiliskEye: #E50010;
}

body {
	background-color: var(--back);
	font-size: 20px;
	font-family: 'Almendra', serif;
}

.container {
	margin-top: 10px;
	margin-bottom: 50px;
}

a {
	color: var(--basiliskEye);
	min-width: 1px;
	min-height: 1px;
}

a:hover {
	color: #B50010;
}

/* HEADER/FOOTER STYLES */
#head>.navbar, #foot>.navbar {
	background-color: var(--fore);
}

#head {
	box-shadow: 0 2px var(--back-shadow);
}

#header-nav {
	clear: both;
}

.nav-item {
	background-color: var(--button);
	border: 1px black solid;
	border-radius: 15px;
	min-width: 4em;
	margin: 5px;
	font-size: 1.5em;
	text-align: center;
}

.dropdown-menu {
	background-color: var(--button);
	border: 1px black solid;
	border-radius: 5px;
}

.dropdown-item:hover {
	background-color: var(--back);
}

.dropdown-item.active {
	background-color: var(--button);
}


/* MAIN PAGE STYLES */
.jumbotron {
	padding: 0;
}

.jumbotron img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 2px 2px 2px var(--back-shadow);
}

.hometile-foodchain, .hometile-basilisk {
	width: 400px;
	height: 400px;
	background-color: var(--fore);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	font-color: white;
	box-shadow: 0 2px 2px 2px var(--back-shadow);
}

/*.hometile-foodchain {
	background: url("../images/foodchain_hometile.png") no-repeat;
	background-position: center;
}*/

.hometile-basilisk {
	/*background: url("../images/basiliskmaze_hometile.png") no-repeat;
	background-position: center;*/
	border-radius: 50px;
}

/* ABOUT */
#bio-pic {
	width: 300px;
	height: 400px;
	background-color: var(--fore);
	border-radius: 10px;
	box-shadow: 0 2px 2px 2px var(--back-shadow);
	margin: 10px;
}

@media (min-width: 768px /*md*/) {
	#bio-pic {
		float: right;
	}
}

/* GAME PAGES */
.gameTitle {
	font-size: 3em;
	color: white;
	text-shadow: 2px 2px black;
}

@media (min-width: 768px /*md*/) {
	.game-icon {
		float: right;
		margin: 20px;
	}
}

.gpBadge {
	max-width: 300px;
	margin-bottom: 30px;
}

/* BASILISK'S MAZE */
#gameContainer {
	box-shadow: 0px 2px 2px 2px var(--back-shadow);
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background: url("../images/basiliskmaze_loadscreen.jpg") no-repeat;
	background-position: center;
	position: relative;
}

#gameContainer, #gameContainer>canvas {
	width: 960px;
	height: 600px;
	border-radius: 5px;
}

#startBasiliskButton {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	background-color: var(--basiliskEye);
	border: 1px black white;
	border-radius: 15px;
	margin: auto;
	font-size: 1.5em;
	text-align: center;
	color: white;
}

#startBasiliskButton:hover {
	color: #e8e8e8;
}

#gameInstructions {
	text-align: center;
	background-color: var(--fore);
	border-radius: 5px;
	box-shadow: 0px 2px 2px 2px var(--back-shadow);
	width: 50%;
	margin: auto;
	margin-bottom: 30px;
}

#tooSmallNotice {
		display: none;
}

@media (min-width: 768px) and (max-width: 992px) {
	#gameContainer, #gameContainer>canvas {
		width: 640px;
		height: 400px;
	}

	#gameInstructions {
		width: 75%;
	}
}

@media (max-width: 768px) {
	#gameContainer, #gameInstructions {
		display: none;
	}

	#tooSmallNotice {
		display: block;
	}
}